<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">
  <xacro:arg name="use_mock_hardware" default="true"/>
  <xacro:arg name="initial_positions_file"
             default="$(find ur5e_description)/config/initial_positions.yaml"/>
  <xacro:include filename="$(find ur5e_description)/urdf/ur5e.urdf.xacro"/>
</robot>
