<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ur5e">

  <xacro:arg name="use_mock_hardware" default="false"/>
  <xacro:arg name="initial_positions_file"
             default="$(find ur5e_description)/config/initial_positions.yaml"/>

  <link name="world"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find robotiq_description)/urdf/robotiq_2f_85_macro.urdf.xacro"/>
  <xacro:include filename="$(find ur5e_description)/urdf/ur5e.ros2_control.xacro"/>

  <xacro:ur_robot
      name="ur5e"
      tf_prefix=""
      parent="world"
      joint_limits_parameters_file="$(find ur_description)/config/ur5e/joint_limits.yaml"
      kinematics_parameters_file="$(find ur_description)/config/ur5e/default_kinematics.yaml"
      physical_parameters_file="$(find ur_description)/config/ur5e/physical_parameters.yaml"
      visual_parameters_file="$(find ur_description)/config/ur5e/visual_parameters.yaml"
      safety_limits="false"
      safety_pos_margin="0.15"
      safety_k_position="20">
    <origin xyz="0 0 0.80" rpy="0 0 -1.5708"/>
  </xacro:ur_robot>

  <xacro:robotiq_gripper
      name="gripper"
      prefix=""
      parent="tool0"
      sim_gazebo="true"
      use_fake_hardware="false"
      include_ros2_control="false"
      com_port="">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_gripper>

  <xacro:ur5e_ros2_control
      name="ur5e"
      use_mock_hardware="$(arg use_mock_hardware)"
      initial_positions_file="$(arg initial_positions_file)"/>

  <xacro:unless value="$(arg use_mock_hardware)">
    <xacro:property name="initial_positions"
                    value="${xacro.load_yaml('$(arg initial_positions_file)')['initial_positions']}"/>

    <gazebo reference="shoulder_pan_joint">
      <initial_position>${initial_positions['shoulder_pan_joint']}</initial_position>
    </gazebo>
    <gazebo reference="shoulder_lift_joint">
      <initial_position>${initial_positions['shoulder_lift_joint']}</initial_position>
    </gazebo>
    <gazebo reference="elbow_joint">
      <initial_position>${initial_positions['elbow_joint']}</initial_position>
    </gazebo>
    <gazebo reference="wrist_1_joint">
      <initial_position>${initial_positions['wrist_1_joint']}</initial_position>
    </gazebo>
    <gazebo reference="wrist_2_joint">
      <initial_position>${initial_positions['wrist_2_joint']}</initial_position>
    </gazebo>
    <gazebo reference="wrist_3_joint">
      <initial_position>${initial_positions['wrist_3_joint']}</initial_position>
    </gazebo>
    <gazebo reference="robotiq_85_left_knuckle_joint">
      <initial_position>${initial_positions['robotiq_85_left_knuckle_joint']}</initial_position>
    </gazebo>

    <gazebo>
      <plugin
          filename="libgz_ros2_control-system.so"
          name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters>$(find ur5e_description)/config/ros2_controllers.yaml</parameters>
      </plugin>
    </gazebo>
  </xacro:unless>

</robot>
